<h1 class="mascara_show"><%= @mascara.name.titleize %></h1>
<div class = "row">
  <div class="large-6 columns" id = "showimages">
      <img src="<%= @mascara.image_url%>">
    </div>
  <div class="large-6 columns text-center" id="info">
<h2> Brand: <%= @mascara.brand.titleize %></h2>
<br>
<h4 class="scroll"><%= @mascara.description %></h4>
<br>
<h3><%= link_to 'More Info!', @mascara.product_link %></h3>
</div>
</div>

<br>
<br>

<%= render "reviews/mascara/new" %>

<h3 id="review-show">Reviews :</h3>

<ul class="review">
  <% @reviews.each do |review| %>
  <li>
    <%= review.rating %> , <%= review.body %>
  </li>
  <% end %>
</ul>
